<ul *ngFor="let item of items" class="metismenu side-nav in">
  <li class="side-nav-item" [ngClass]="{'active': item === selectedItem}">
    <a  href="javascript: void(0);"
        class="side-nav-link"
        [ngClass]="{'active': item === selectedItem}"
        (click)="toggleItem(item)">
      <i class="dripicons-copy"></i>
      <span> {{item.title}} </span>
      <span class="menu-arrow" *ngIf="item?.children"></span>
    </a>
    <ng-container *ngIf="item?.children">
      <ul *ngFor="let children of item.children" class="side-nav-second-level collapse" [ngClass]="{'in': item === selectedItem}"
            aria-expanded="false">
        <li routerLinkActive="active">
          <a routerLink="{{children.link}}" routerLinkActive="active">{{children.title}}</a>
        </li>
      </ul>
    </ng-container>
  </li>
</ul>