<form [formGroup]="dateForm" class="row">
  <div class="form-group mb-3 col-md-6">
    <label for="example-date">Date start(date not included)</label>
    <input formControlName="dateStart" (change)="onChange($event)"
    [ngClass]="{'invalid-input-border': dateStartControl.dirty && dateForm.hasError('dateLessThan')}"
     class="form-control" id="example-date" type="date" name="date">
    <div class="invalid-tip" *ngIf="dateStartControl.dirty && dateForm.hasError('dateLessThan')">Start date can't be grater than end date</div>
  </div>
  <div class="form-group mb-3 col-md-6">
    <label for="example-date">
      Date finish(date not included)</label>
    <input formControlName="dateFinish" (change)="onChange($event)"
    [ngClass]="{'invalid-input-border': dateFinishControl.dirty && dateForm.hasError('dateLessThan')}"
     class="form-control" id="example-date" type="date" name="date" >
    <div class="invalid-tip" *ngIf="dateFinishControl.dirty && dateForm.hasError('dateLessThan')">End date can't be less than start date</div>
  </div>
</form>
<app-table [tableHeaderConfig]="tableHeaderConfig" [usersReportInfo]="usersReportInfo" ></app-table>