/* You can add global styles to this file, and also import other style files */
@import 'css/app.min.css';
@import 'css/vendor/dataTables.bootstrap4.css';
@import 'css/vendor/select.bootstrap4.css';
@import 'css/icons.min.css';
@import '~ngx-toastr/toastr.css';

@import 'variables';

.invalid-tip{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: $app-danger;
    position: fixed;
}
.invalid-input-border{
    border-color: $app-danger !important;
}