<div class="login-wrapper">
  <div class="card d-block">
      <div class="card-body card-body-header">Log in</div>
    
      <div class="card-body card-body-form">
          <p class="card-text">Sign In Enter your email address and password to access admin pane</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="example-email">Email</label>
              <input formControlName="email" type="email" id="example-email" name="example-email" class="form-control"
                placeholder="Email">
            </div>
            <div class="form-group mb-3">
              <label for="example-password">Password</label>
              <input formControlName="password" type="password" id="example-password" class="form-control" placeholder="Password" value="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            <div class="tip-block">
              <div class="text-danger" *ngIf="loginError">{{loginError}}</div>
            </div>
          </form>
        </div>
  </div>
</div>