.login-wrapper {
    display: flex;
    justify-content: center;
    .card {
        display: inline-flex;
        margin-top: 2rem;
        form {
            display: contents;
        }
        .card-body-header {
            background-color: var(--indigo);
            font-size: 1.3rem;
            color: #fff;
            text-align: center;
        }
        .card-body-form {
            display: flex;
            flex-direction: column;
            .tip-block {
                height: .5rem;
                position: relative;
                display: flex;
                justify-content: center;
                .text-danger{
                    margin-top: .3rem;
                    font-size: 1rem;
                    position: absolute;
                }
            }
        }
    }
}