.logout{
    margin-top: 3rem;
    padding: 5px 50px;
    font-size: 1rem;
}

.side-bar-title{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}