<div class="left-side-menu" style="">

  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 803.556px;">
    <div class="slimscroll-menu active" style="overflow: hidden; width: auto; height: 803.556px;">

      <!-- LOGO -->
      <p class="side-bar-title">menu</p>

      <!--- Sidemenu -->
         <app-list-menu [items]="items"></app-list-menu>

      <!-- Help Box -->
      <div class="text-center">
           <button type="button" class="btn btn-dark logout" (click)="onLogout()">Logout</button>
      </div>
      <!-- end Help Box -->
      <!-- End Sidebar -->

      <div class="clearfix"></div>

    </div>
    <div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 583.29px;"></div>
    <div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
  <!-- Sidebar -left -->

</div>