<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div *ngIf="usersReportInfo?.length > 0; else noDataTemplate" id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-6">
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="basic-datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm"
                    placeholder="" aria-controls="basic-datatable" [(ngModel)]="searchName"></label></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table id="basic-datatable" class="table dt-responsive nowrap dataTable no-footer dtr-inline" width="100%"
                role="grid" aria-describedby="basic-datatable_info" style="width: 100%; position: relative;">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" [ngClass]="{'sort-asc': column.field === sortingProp && asc, 'sort-desc': column.field === sortingProp && !asc}"
                      *ngFor="let column of tableHeaderConfig" (click)="sort(column.field)">{{column.title}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let report of usersReportInfo | filter : 'displayName' : searchName">
                    <td class="" tabindex="0">{{report.displayName}}</td>
                    <td class="">{{report.roundTimeSpent}}</td>
                    <td class="">{{report.roundHalfTimeSpent}}</td>
                    <td class="">{{report.salaryGrnBrutto}}</td>
                    <td class="">{{report.salaryGrnNetto}}</td>
                    <td class="">{{report.salaryUsdBrutto}}</td>
                    <td class="">{{report.salaryUsdNetto}}</td>
                    <td class="sorting_1">{{report.timeSpent}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template  #noDataTemplate>
    <div class="no-data-placeholder">
      <span>No data</span>

    </div>
  </ng-template >