@import 'variables';

th.sorting.sort-asc{
    &::before{
        opacity: 1;
    }
}

th.sorting.sort-desc{
    &::after{
        opacity: 1;
    }
}

.no-data-placeholder{
    text-align: center;
    font-size: 5rem;
    padding: 4rem;
    color: $app-light-gray;    
}